<div class="text-4xl lg:text-sm lg:pl-10 w-11/12 lg:w-full m-auto">
  <div class="lg:grid lg:grid-cols-2 lg:gap-12">
    <div>
      <h2 class="text-2xl hidden lg:block mb-0 lg:mb-3">présentation</h2>
      <div>« Plus c’est local, plus c’est universel » Fernando Tavora, architecte.</div>
      <br />
      <div>
        studio.AQUI cherche à travers la conception et la construction d’espaces
        bâtis à intérroger le rapport au territoire. L’architecture étant une
        expression de la culture, nous défendons une approche contextuelle face à
        l’uniformisation à l’oeuvre. Cet ancrage vise à définir l’architecture
        comme bien sociétal, à promouvoir et à défendre.
      </div>
      <br />
      <div>
        Nous cherchons à produire une architecture simple, débarassée d’artifices
        ou de spectaculaire pour nous consacrer à l’essentiel. Par cette simplification,
        nous visons à maîtriser le processus pour retrouver un rapport simple à la
        construction dans la double logique historique: esthétique et économique.
      </div>
      <br />
      <div>
        Ce positionnement vise modestement pour nous à répondre aux enjeux sociétaux
        et environnementaux de notre temps.
      </div>

    </div>
    <div class="mt-10 lg:mt-0">
      <h2 class="lg:text-2xl font-bold lg:font-normal mb-0 lg:mb-3">contact</h2>
      <div>
        <div>studio.AQUI </div>
        <div>chanson & chimits architectes </div>
        <div> 6 rue ringaud 31500 Toulouse </div>
        <div>contact@studio-aqui.fr </div>
        <div>
          <span class="hover:underline"> <a href="https://www.instagram.com/studio.aqui/?hl=fr" target="_blank">
              instagram |
            </a></span>
          <span class="hover:underline"> <a href="https://www.facebook.com/studioAQUI-100284215060077" target="_blank">
              facebook
            </a></span>
        </div>
      </div>
      <h2 class="lg:text-2xl mt-6 font-bold lg:font-normal mb-0 lg:mb-3">équipe</h2>
      <div>
        Mathilde Chanson, architecte DE - HMONP
        <br />
        Pierre Chimits, architecte DE - HMONP
      </div>
    </div>

  </div>
  <div class="hidden lg:block">
    <h2 class="lg:text-2xl mt-10 mb-3">projets</h2>
    <ul class="lg:text-sm pr-10">
      <hr />
      {% for projet in site.projets %}
      <li class="list-none">
        <span>{{projet.title}} |</span>
        <span>{{projet.description}} |</span>
        {% if projet.adresse %}
        <span>{{projet.adresse}} |</span>
        {% endif %}
        {% if projet.maitre_d_oeuvre %}
        <span>{{projet.maitre_d_oeuvre}} |</span>
        {% endif %}
        {% if projet.maitre_d_ouvrage %}
        <span>{{projet.maitre_d_ouvrage}} |</span>
        {% endif %}
        {% if projet.etat %}
        <span>{{projet.etat}}</span>
        {% endif %}
      </li>
      <hr />
      {% endfor %}
    </ul>
  </div>

</div>
