<!-- The Modal -->
<div class="modal" id="menu-modal">
  <button class="lg:hidden absolute top-14 left-10" id="close-button">
    <img src="/assets/icons/close.png" width="60px" />
  </button>

  <nav class="mt-10 text-center">
    <ul class="list-none leading-loose space-y-10">
      <li class="text-6xl">
        {% for projet in site.projets %}
      <li class="list-none">
        <a class="text-5xl {% if page.url contains projet.url %}underline{% endif %}" href="{{ projet.url }}">
          {{ projet.title }}</a>
      </li>
      {% endfor %}
      </li>
    </ul>
  </nav>

</div>