<div class="text-4xl lg:text-sm">
  <div>
    <div class="font-bold">{{page.description}}</div>
  </div>
  <div class="mt-3">
    {% if page.maitre_d_oeuvre %}
      <div>
        <span>maître d’oeuvre</span>
        |
        {{page.maitre_d_oeuvre}}
      </div>
    {% endif %}
    {% if page.maitre_d_ouvrage %}
      <div>
        <span>maître d’oeuvre</span>
        |
        {{page.maitre_d_oeuvre}}
      </div>
    {% endif %}
    {% if page.adresse %}
      <div>
        <span>lieu</span>
        |
        {{page.adresse}}
      </div>
    {% endif %}

    {% if page.programme %}
      <div>
        <span>programme</span>
        |
        {{page.programme}}
      </div>
    {% endif %}

    {% if page.cout %}
      <div>
        <span>coût</span>
        |
        {{page.cout}}
      </div>
    {% endif %}

    {% if page.surface %}
      <div>
        <span>surface</span>
        |
        {{page.surface}}
      </div>
    {% endif %}
    {% if page.credits%}
      <div>
        <span>maître d’oeuvre</span>
        |
        {{page.maitre_d_oeuvre}}
      </div>
    {% endif %}
    {% if page.etat %}
      <div>
        <span>état</span>
        |
        {{page.etat}}
      </div>
    {% endif %}
  </div>
</div>
