<!-- Lazy Loading par défaut sur toutes les pages -->
<script src="/assets/vendor/lozad/lozad.min.js" type="text/javascript"></script>
<script type="text/javascript">
  window.addEventListener("load", function () { // lazy loads elements with default selector as '.lozad'
    const observer = lozad();
    observer.observe();
  });
</script>

<!-- Control burger menu -->
<script>
  (function () { // Get the modal
    var modal = document.getElementById("menu-modal");
    var content = document.getElementById("content");

    // Get the button that opens the modal
    var openBtn = document.getElementById("burger-button");

    // Get the button that close the modal
    var closeBtn = document.getElementById("close-button");



    // When the user clicks on the button, open the modal
    openBtn.onclick = function () {
      modal.style.display = "block";
      content.style.display = "none";
    }

    // When the user clicks on X, close the modal
    closeBtn.onclick = function () {
      modal.style.display = "none";
      content.style.display = "block";
    }

  })();
</script>
<!-- Reize logo based on nav width -->
<script>
  /*!
* FitText.js 1.0 jQuery free version
*
* Copyright 2011, Dave Rupert http://daverupert.com
* Released under the WTFPL license
* http://sam.zoy.org/wtfpl/
* Modified by Slawomir Kolodziej http://slawekk.info
*
* Date: Tue Aug 09 2011 10:45:54 GMT+0200 (CEST)
*/
  (function () {

    var addEvent = function (el, type, fn) {
      if (el.addEventListener)
        el.addEventListener(type, fn, false);
      else
        el.attachEvent('on' + type, fn);
    };

    var extend = function (obj, ext) {
      for (var key in ext)
        if (ext.hasOwnProperty(key))
          obj[key] = ext[key];
      return obj;
    };

    window.fitText = function (el, kompressor, options) {

      var settings = extend({
        'minFontSize': -1 / 0,
        'maxFontSize': 1 / 0
      }, options);

      var fit = function (el) {
        var compressor = kompressor || 1;

        var resizer = function () {
          el.style.fontSize = Math.max(Math.min(el.clientWidth / (compressor * 10), parseFloat(settings.maxFontSize)), parseFloat(settings.minFontSize)) + 'px';
        };

        // Call once to set.
        resizer();

        // Bind events
        // If you have any js library which support Events, replace this part
        // and remove addEvent function (or use original jQuery version)
        addEvent(window, 'resize', resizer);
        addEvent(window, 'orientationchange', resizer);
      };

      if (el.length)
        for (var i = 0; i < el.length; i++)
          fit(el[i]);
      else
        fit(el);

      // return set of elements
      return el;
    };
  })();

  (function () {
    window.fitText(document.getElementById("title"));
  })();
</script>