---
layout: default
---

<div class="w-full">
  <div class="hidden lg:grid grid-cols-2 gap-5 pl-10">
    <div class="space-y-5">
      {% for img in site.data.home %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 1 %}
          <div>
            <a href={{img.linkTo}}>
              <img class="block mx-auto m-0" style="max-width: {{ img.width }};" src="{{ img.src }}">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="space-y-5">
      {% for img in site.data.home %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
          <div>
            <a href={{img.linkTo}}>
              <img class="block mx-auto max-w-100" style="max-width: {{ img.width }};" src="{{ img.src }}">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="lg:hidden space-y-20 mx-auto w-11/12">
  {% for img in site.data.home %}
    <div>
      <a href={{img.linkTo}}>
        <img class="w-full" src="{{ img.src }}">
      </a>
    </div>
  {% endfor %}
  <div class="text-4xl lg:hidden">
    {%- include contact.html -%}
  </div>
</div>