---
layout: default
---
<div class="text-7xl mt-20 lg:mt-0 lg:hidden text-center">{{page.title}}</div>
<div class="lg:hidden my-10 mx-auto" style="max-width: 90%;">
  {%- include project-info.html -%}
</div>
<div class="space-y-5 hidden lg:block">
  {% for f in site.static_files %}
  {% if f.path contains page.name %}
  <img class="m-auto hidden lg:block" src="{{ f.path }}" style="max-width: 60%;"></img>
  {% endif %}
  {% endfor %}
</div>

<div class="space-y-16 lg:hidden">
  {% for f in site.static_files %}
  {% if f.path contains page.name %}
  <img class="m-auto w-11/12" src="{{ f.path }}"></img>
  {% endif %}
  {% endfor %}
</div>